
Spatial-Invasor/.vs/Spatial-Invasor/v16/.suo
Spatial-Invasor/Spatial-Invasor/bin/Debug/netcoreapp3.1/Content/font.xnb
Spatial-Invasor/Spatial-Invasor/Content/bin/DesktopGL/Content/font.xnb
Spatial-Invasor/Spatial-Invasor/Content/obj/DesktopGL/Content/.mgcontent
Spatial-Invasor/Spatial-Invasor/Content/obj/DesktopGL/Content/.mgstats
Spatial-Invasor/Spatial-Invasor/Content/obj/DesktopGL/Content/font.mgcontent
Spatial-Invasor/Spatial-Invasor/Content/obj/DesktopGL/Content/main-spritesheet.mgcontent
Spatial-Invasor/Spatial-Invasor/obj/Debug/netcoreapp3.1/Spatial-Invasor.assets.cache
Spatial-Invasor/Spatial-Invasor/obj/Debug/netcoreapp3.1/Spatial-Invasor.GeneratedMSBuildEditorConfig.editorconfig
Spatial-Invasor/Spatial-Invasor/obj/project.assets.json
Spatial-Invasor/Spatial-Invasor/obj/project.nuget.cache
Spatial-Invasor/Spatial-Invasor/obj/Spatial-Invasor.csproj.nuget.dgspec.json
Spatial-Invasor/Spatial-Invasor/obj/Spatial-Invasor.csproj.nuget.g.props
Spatial-Invasor/.vs/Spatial-Invasor/DesignTimeBuild/.dtbcache.v2
Spatial-Invasor/.vs/Spatial-Invasor/v16/.suo
Spatial-Invasor/Spatial-Invasor/Content/obj/DesktopGL/Content/.mgcontent
Spatial-Invasor/Spatial-Invasor/Content/obj/DesktopGL/Content/.mgstats
Spatial-Invasor/Spatial-Invasor/Content/obj/DesktopGL/Content/main-spritesheet.mgcontent
Spatial-Invasor/Spatial-Invasor/obj/Debug/netcoreapp3.1/Spatial-Invasor.assets.cache
Spatial-Invasor/Spatial-Invasor/obj/Debug/netcoreapp3.1/Spatial-Invasor.csproj.AssemblyReference.cache
Spatial-Invasor/Spatial-Invasor/obj/Debug/netcoreapp3.1/Spatial-Invasor.GeneratedMSBuildEditorConfig.editorconfig
Spatial-Invasor/Spatial-Invasor/obj/project.assets.json
Spatial-Invasor/Spatial-Invasor/obj/project.nuget.cache
Spatial-Invasor/Spatial-Invasor/obj/Spatial-Invasor.csproj.nuget.dgspec.json
Spatial-Invasor/Spatial-Invasor/obj/Spatial-Invasor.csproj.nuget.g.props
